@model List<InventarioFCOH.Models.VwReporteInventarioHistorico>

<div>
	<head>
		<title>Reporte de Inventario Historico</title>
	</head>

	<body>

		<div class="container mt-5">
			<div class="d-flex justify-content-between">
				<h2>Reporte de Inventario Historico</h2>
				<button class="btn btn-primary" onclick="imprimirReporte()">Imprimir</button>
			</div>

			<form method="get" class="form-inline">
			</form>
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Equipo ID</th>
						<th>Nombre</th>
						<th>Fecha de Asignacion</th>
						<th>FechaDesasignacionFormateada</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.EquipoId</td>
							<td>@item.Nombre</td>
							<td>@item.FechaAsignacion.ToString("yyyy-MM-dd")</td>
							<td>@item.FechaDesasignacionFormateada</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</body>

	<script>
		function imprimirReporte() {
			window.print();
		}
	</script>
</div>
