@model List<InventarioFCOH.Models.Categoria>

<div>
    <head>
        <title>Listado de Categorías</title>
    </head>

    <body>
        <div class="container mt-5">
            <div class="d-flex justify-content-between">
                <h2>Categorías</h2>
                <div>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("AgregarCategoria", "Categoria")'">Agregar Categoría</button>
                    <button class="btn btn-secondary" onclick="imprimirCategorias()">Imprimir</button>
                </div>
            </div>

            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID de Categoría</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in Model)
                    {
                        <tr>
                            <td>@categoria.CategoriaId</td>
                            <td>@categoria.Descripcion</td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="@Url.Action("Editar", "Categoria", new { id = categoria.CategoriaId })">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>

    <script>
        function imprimirCategorias() {
            window.print();
        }
    </script>
</div>
