
<div class="text-center">
    <h1>Bienvenido</h1>
    <img src="~/images/logo.png" alt="Logo" class="img-fluid" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
